.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
  }
  .left-section {
    width: 150px;
    display: flex;
    align-items: center;
  }
  .hamburger-menu {
    height: 24px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .youtube-logo {
    height: 20px;
    margin-left: 10px;
    align-items: center;

  }
  .middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  .search-bar {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  }
  .search-bar::placeholder {
    font-family: roboto,Arial;
    font-size: 16px;
  }
  .search-button {
    height: 40px;
    width: 60px;
    background-color: rgb(248, 248, 248);
    border-style: solid;
    border-color: rgb(221, 220, 220);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }

  .search-button,.voice-search ,.upload-header,.Youtube-header,.notifications-icon-container {
    font-family: roboto,arial;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.search-button .tooltip,.voice-search .tooltip,.upload-header .tooltip, .Youtube-header .tooltip,.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search:hover .tooltip ,.upload-header:hover .tooltip,.Youtube-header:hover .tooltip, .notifications-icon-container:hover .tooltip {
  opacity: 1;
}
  .search {
    height: 25px;
  }
  .voice-search {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
  }
  .voice-search-button {
    height: 24px;
    margin-top: 4px;
    background-color: rgb(228, 227, 227);
  }
  .right-section {
    width: 180px;
    margin-right: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .upload-icon {
    height: 24px;
  }
  .youtube-apps-icon {
    height: 24px;
  }
  .notifications-icon {
    height: 24px;
  }
  .my-channel-pic {
    height: 32px;
    border-radius: 16px;
  }
.notifications-icon-container {
  position: relative
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-family: roboto,arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}